<link rel="stylesheet" type="text/css" href="/stylesheets/about.css" />
<script src="/javascripts/about.js"></script>

<div class="fullBox">
<div>
  <div class="jumbotron box">
	<h1>Welcome ready to play?</h1>
	<p>Why did I make this... IDK!</p>
	<p>See the rules below before starting</p>
  </div>
  
  <div class="pieces">
  	<span class="glyphicon glyphicon-king piece"></span>
  	<span class="glyphicon glyphicon-queen piece"></span>
  	<span class="glyphicon glyphicon-tower piece"></span>
  	<span class="glyphicon glyphicon-bishop piece"></span>
  	<span class="glyphicon glyphicon-knight piece"></span>
  	<span class="glyphicon glyphicon-pawn piece"></span>
  </div>

  <br>
  <br>

  <div class="mainContainer">
  	<div class="col-xs-12 col-sm-6 col-md-4 rules">
  	  <span class="header">
  	  <ico class="glyphicon glyphicon-king Bpiece"></ico>
  	  <ico class="glyphicon glyphicon-king Wpiece"></ico>
  	  KING
  	  </span>
  	  <ul class="description">
  	    <li>The King is the most important piece</li>
  	    <li>If the King dies you lose</li>
  	    <li>The king can move only one space in each direction</li>
  	    <li>The king can perform a special action called a castle (look it up)</li>
  	    <li>If your king is threatened or in 'check' you must move out of check</li>
  	  </ul>
  	</div>

  	<div class="col-xs-12 col-sm-6 col-md-4 rules">
  	  <span class="header">
  	  <ico class="glyphicon glyphicon-queen Bpiece"></ico>
  	  <ico class="glyphicon glyphicon-queen Wpiece"></ico>
  	  QUEEN
  	  </span>
  	  <ul class="description">
  	    <li>The Queen is the powerhouse</li>
  	    <li>The Queen moves in all directions and as far as possible</li>
  	    <li>Dont lose your Queen!</li>
  	  </ul>
  	</div>

  	<div class="col-xs-12 col-sm-6 col-md-4 rules">
  	  <span class="header">
  	  <ico class="glyphicon glyphicon-tower Bpiece"></ico>
  	  <ico class="glyphicon glyphicon-tower Wpiece"></ico>
  	  ROOK
  	  </span>
  	  <ul class="description">
  	    <li>Rooks can move in a cross pattern up down left right </li>
  	    <li>The Rook can move as far as possible in these directions</li>
  	    <li>The Rook closest to the King is used to castle only if the Rook has not moved yet</li>
  	  </ul>
  	</div>

  	<div class="col-xs-12 col-sm-6 col-md-4 rules">
  	  <span class="header">
  	  <ico class="glyphicon glyphicon-bishop Bpiece"></ico>
  	  <ico class="glyphicon glyphicon-bishop Wpiece"></ico>
  	  BISHOP
  	  </span>
  	  <ul class="description">
  	    <li>Bishops can move diagnolly</li>
  	    <li>The Bishop can move as far as possible</li>
  	  </ul>
  	</div>

  	<div class="col-xs-12 col-sm-6 col-md-4 rules">
  	  <span class="header">
  	  <ico class="glyphicon glyphicon-knight Bpiece"></ico>
  	  <ico class="glyphicon glyphicon-knight Wpiece"></ico>
  	  KNIGHT
  	  </span>
  	  <ul class="description">
  	    <li>The Knight moves in an L shaped pattern</li>
  	    <li>The Knight has the ability to jump over pieces allowing for extreme manueverability</li>
  	  </ul>
  	</div>

  	<div class="col-xs-12 col-sm-6 col-md-4 rules">
  	  <span class="header">
  	  <ico class="glyphicon glyphicon-pawn Bpiece"></ico>
  	  <ico class="glyphicon glyphicon-pawn Wpiece"></ico>
  	  PAWN
  	  </span>
  	  <ul class="description">
  	    <li>The Pawn is the basic grunt of the board</li>
  	    <li>The Pawn only moves forward</li>
  	    <li>However the Pawn only attacks diagnolly</li>
  	    <li>Pawns cannot move backwards</li>
  	    <li>If a Pawn reaches the end of the board one the teams deseased pieces can be revived</li>
  	    <li>On a Pawns first move it can move up 1 or 2 otherwise only move 1</li>
  	  </ul>
  	</div>

  	<div class="col-xs-12 col-sm-12 col-md-12 listRule">
	  	<ul class="list-group">
			<li class="list-group-item">
				<h3 class="list-group-item-heading">
				Basic Rules:
				</h3>
			</li>
			<li class="list-group-item">
				<p class="list-group-item-text">
				Checkmate is game over
				</p>
			</li>
			<li class="list-group-item">
				<p class="list-group-item-text">
				White goes first
				</p>
			</li>
			<li class="list-group-item">
				<p class="list-group-item-text">
				A game cannot last more then a week
				</p>
			</li>
			<li class="list-group-item">
				<p class="list-group-item-text">
				A player only has a certain period of time to move
				</p>
			</li>
			<li class="list-group-item">
				<p class="list-group-item-text">
				A player can forfeit a game
				</p>
			</li>
			<li class="list-group-item">
				<p class="list-group-item-text">
				A player can be in more then one game however there is a limit to how many
				</p>
			</li>
		</ul>
	</div>
  </div>
</div>
</div>
